[server]
# Interval between polling the telegram channel in seconds
# If the channel posts frequently, set to a lower value
poll_interval_seconds = 1200

[telegram]
# Telegram channel URL
# Example: https://t.me/s/channel
url = ""

[webhook]
# Webhook URL
url = ""
# Webhook secret that will be passed in x-secret header
# when sending webhook, you should verify it on server.
secret = ""